<div class="footer-info">
    PhotoPrism® ist eine eingetragene Marke. Diese Dokumentation ist unter der
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0-Lizenz</a>
    verfügbar. Möglicherweise unterliegen einzelne Inhalte jeweils anderen Lizenzen.
    Durch die Nutzung erklären Sie sich mit unseren <a href="https://photoprism.app/terms" target="_blank">Allgemeinen Geschäftsbedingungen</a> einverstanden.
</div>

<div class="md-copyright">
    <div class="md-copyright__highlight">
        Made with ❤ in Berlin
    </div>
</div>